<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.oneourbe.api.mapper.master.user.UserManageMapper">


    <insert id="userJoin" parameterType="com.api.oneourbe.api.domain.member.MemberInfoDAO">
        /* 사용자 가입*/
        INSERT INTO
            ONE_USER_INFO
                (
                    USER_ID
                    ,USER_NAME
                    ,USER_PASSWD
                )VALUES(
                    #{email}
                    ,#{name}
                    ,#{user_role}
                )
        <selectKey keyProperty="member_seq" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="userInfo" resultType="com.api.oneourbe.api.domain.member.MemberInfoDAO">
        /*계정 정보*/
        SELECT
            USER_INFO_SEQ as member_seq
             ,USER_ID as email
             ,USER_NAME as name
             ,USER_PASSWD
        FROM
            ONE_USER_INFO m
        WHERE
            USER_INFO_SEQ = #{member_seq} AND
            show_yn = 'Y' AND
            delete_yn = 'N'
    </select>

    <select id="userJoinValidate" parameterType="com.api.oneourbe.api.domain.member.MemberInfoDAO" resultType="int">
        /*계정 중복 체크*/
        SELECT
            COUNT(*) AS CNT
        FROM
            ONE_USER_INFO m
        WHERE
            USER_ID = #{email} AND
            show_yn = 'Y' AND
            delete_yn = 'N'
    </select>

    <update id="memberUpdate" parameterType="com.api.oneourbe.api.domain.member.MemberInfoDAO">
        /*사용자 주소변경*/
        UPDATE
            member_addr
        SET nickname      = #{nickname},
            roadname_code = #{roadname_code},
            b_code        = #{b_code},
            post          = #{post},
            addr          = #{addr},
            addr_sub      = #{addr_sub}
        WHERE addr_seq = #{addr_seq}
          and member_seq = #{member_seq}
    </update>

</mapper>
