<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.oneourbe.api.mapper.slave.member.MemberSlaveMapper">

	<select id="userCheck" parameterType="com.api.oneourbe.api.domain.member.MemberInfoDAO" resultType="com.api.oneourbe.api.domain.member.MemberInfoDAO">
		/*계정체크*/
		SELECT
            USER_INFO_SEQ
            ,USER_ID
            ,USER_NAME
            ,USER_PASSWD
		FROM
            ONE_USER_INFO m
		WHERE
            USER_ID = #{email}
			show_yn = 'Y' AND
			delete_yn = 'N'
	</select>

	<select id="login" parameterType="com.api.oneourbe.api.domain.member.MemberInfoDAO" resultType="com.api.oneourbe.api.domain.member.MemberInfoDAO">
		/*로그인*/
        SELECT
			member_seq
		FROM
			member m
        WHERE
			m.member_seq = #{member_seq} AND
			m.pw = password(#{pw}) AND
			m.login_type = 'E' AND
			dormancy_yn = 'N' AND
			show_yn = 'Y' AND
			delete_yn = 'N'
	</select>


</mapper>
