<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.oneourbe.api.mapper.slave.member.MemberSlaveMapper">

	<select id="loginId" parameterType="com.api.oneourbe.api.domain.member.MemberInfoDAO" resultType="com.api.oneourbe.api.domain.member.MemberInfoDAO">
		/*계정체크*/
		select
			member_seq
		from
			member m
		where
			m.email = #{email} and
			m.login_type = 'E' and
			show_yn = 'Y' and
			delete_yn = 'N'
	</select>

	<select id="login" parameterType="com.api.oneourbe.api.domain.member.MemberInfoDAO" resultType="com.api.oneourbe.api.domain.member.MemberInfoDAO">
		/*로그인*/
		select
			member_seq
		from
			member m
		where
			m.member_seq = #{member_seq} and
			m.pw = password(#{pw}) and
			m.login_type = 'E' and
			dormancy_yn = 'N' and
			show_yn = 'Y' and
			delete_yn = 'N'
	</select>


</mapper>
